/*----------Set up section  ----------*/
:root{
    font-size: 62.5%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 1.6rem;

    width: 100%;
}

/*--------------header section------------*/
.header-container{

    width: 100%;

    padding: 1rem 2rem 1rem;

    position: fixed;
    top: 0%;

    background-color: #586e6e;

    color: white;
}
.header-container > .header-class{

    display: flex;
}
.header-class > .brand-container{

    flex: 1;

}
.brand-container > h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.header-class > .nav-container{

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
nav > a{

    text-decoration: none;
    margin-right: 15px;
    cursor: pointer;

    color: white;
}
a:hover{
    color: #ffbc05;
}

/*-------------------clothing section ----------------*/


.listProduct{

    width: 100%;
    min-height: 100vh;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    margin-top: 5%;

    padding: 1rem 2rem 1rem;

    background-color: #fafafa;
}
.listProduct > .item1{

    width: 450px;
    min-height: 50vh;

    background-color: #eeeee6;
    border-radius: 25px;

    padding: 1rem 2rem 1rem;

    text-align: center;

    margin-left: auto;
    margin-right: auto;
}
.listProduct .item1 > img{

    width: 300px;
    height: auto;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;

    margin-top: 5%;

}
.listProduct .item1 > h2{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    margin-top: 2%;
}
.listProduct .item1 > p{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    letter-spacing: 7px;

    margin-top: 2%;
}
.listProduct .item1 label > input{

    width: 150px;

    margin-top: 2%;
    
    border-radius: 20px;
    outline: none;

    border: 1px solid lightgrey;

    padding: 1rem 2rem 1rem;
}
.listProduct .item1 > button{

    background-color: #353432;
    color: #eee;

    margin-top: 2%;
    width: 150px;
    padding: 1rem 2rem 1rem;

    border-radius: 25px;
    border: #353432;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
}
.listProduct .item1 > #addCart:hover{
    transform: scale(1.1);
}
/* -----Item 2------ */

.listProduct > .item2{

    width: 450px;
    min-height: 100vh;

    background-color: #eeeee6;
    border-radius: 25px;

    padding: 1rem 2rem 1rem;

    text-align: center;

    margin-left: auto;
    margin-right: auto;
}
.listProduct .item2 > img{

    width: 300px;
    height: auto;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;

    margin-top: 5%;

}
.listProduct .item2 > h2{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    margin-top: 2%;
}
.listProduct .item2 > p{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    letter-spacing: 7px;

    margin-top: 2%;
}
.listProduct .item2 label > input{

    width: 150px;

    margin-top: 2%;
    
    border-radius: 20px;
    outline: none;

    border: 1px solid lightgrey;

    padding: 1rem 2rem 1rem;
}
.listProduct .item2 > button{

    background-color: #353432;
    color: #eee;

    margin-top: 2%;
    width: 150px;
    padding: 1rem 2rem 1rem;

    border-radius: 25px;
    border: #353432;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    cursor: pointer;
}
.listProduct .item2 > #addCart:hover{
    transform: scale(1.1);
}

/*-------item 3---------*/

.listProduct > .item3{

    width: 450px;
    min-height: 100vh;

    background-color: #eeeee6;
    border-radius: 25px;

    padding: 1rem 2rem 1rem;

    text-align: center;

    margin-left: auto;
    margin-right: auto;
}
.listProduct .item3 > img{

    width: 300px;
    height: auto;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;

    margin-top: 5%;

}
.listProduct .item3 > h2{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    margin-top: 2%;
}
.listProduct .item3 > p{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    letter-spacing: 7px;

    margin-top: 2%;
}
.listProduct .item3 label > input{

    width: 150px;

    margin-top: 2%;
    
    border-radius: 20px;
    outline: none;

    border: 1px solid lightgrey;

    padding: 1rem 2rem 1rem;
}
.listProduct .item3 > button{

    background-color: #353432;
    color: #eee;

    margin-top: 2%;
    width: 150px;
    padding: 1rem 2rem 1rem;

    border-radius: 25px;
    border: #353432;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
}
.listProduct .item3 > #addCart:hover{
    transform: scale(1.1);
}

/*-------item 4---------*/

.listProduct > .item4{

    width: 450px;
    min-height: 100vh;

    background-color: #eeeee6;
    border-radius: 25px;

    padding: 1rem 2rem 1rem;

    text-align: center;

    margin-left: auto;
    margin-right: auto;
}
.listProduct .item4 > img{

    width: 300px;
    height: auto;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;

    margin-top: 5%;

}
.listProduct .item4 > h2{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    margin-top: 2%;
}
.listProduct .item4 > p{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    letter-spacing: 7px;

    margin-top: 2%;
}
.listProduct .item4 label > input{

    width: 150px;

    margin-top: 2%;
    
    border-radius: 20px;
    outline: none;

    border: 1px solid lightgrey;

    padding: 1rem 2rem 1rem;
}
.listProduct .item4 > button{

    background-color: #353432;
    color: #eee;

    margin-top: 2%;
    width: 150px;
    padding: 1rem 2rem 1rem;

    border-radius: 25px;
    border: #353432;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
}
.listProduct .item4 > #addCart:hover{
    transform: scale(1.1);
}

/*-------item 5---------*/

.listProduct > .item5{

    width: 450px;
    min-height: 100vh;

    background-color: #eeeee6;
    border-radius: 25px;

    padding: 1rem 2rem 1rem;

    text-align: center;

    margin-left: auto;
    margin-right: auto;
}
.listProduct .item5 > img{

    width: 300px;
    height: auto;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;

    margin-top: 5%;

}
.listProduct .item5 > h2{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    margin-top: 2%;
}
.listProduct .item5 > p{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    letter-spacing: 7px;

    margin-top: 2%;
}
.listProduct .item5 label > input{

    width: 150px;

    margin-top: 2%;
    
    border-radius: 20px;
    outline: none;

    border: 1px solid lightgrey;

    padding: 1rem 2rem 1rem;
}
.listProduct .item5 > button{

    background-color: #353432;
    color: #eee;

    margin-top: 2%;
    width: 150px;
    padding: 1rem 2rem 1rem;

    border-radius: 25px;
    border: #353432;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
}
.listProduct .item5 > #addCart:hover{
    transform: scale(1.1);
}

/*-------item 6---------*/

.listProduct > .item6{

    width: 450px;
    min-height: 100vh;

    background-color: #eeeee6;
    border-radius: 25px;

    padding: 1rem 2rem 1rem;

    text-align: center;

    margin-left: auto;
    margin-right: auto;
}
.listProduct .item6 > img{

    width: 300px;
    height: auto;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;

    margin-top: 5%;

}
.listProduct .item6 > h2{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    margin-top: 2%;
}
.listProduct .item6 > p{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    letter-spacing: 7px;

    margin-top: 2%;
}
.listProduct .item6 label > input{

    width: 150px;

    margin-top: 2%;
    
    border-radius: 20px;
    outline: none;

    border: 1px solid lightgrey;

    padding: 1rem 2rem 1rem;
}
.listProduct .item6 > button{

    background-color: #353432;
    color: #eee;

    margin-top: 2%;
    width: 150px;
    padding: 1rem 2rem 1rem;

    border-radius: 25px;
    border: #353432;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
}
.listProduct .item6 > #addCart:hover{
    transform: scale(1.1);
}

/*-------item 7---------*/

.listProduct > .item7{

    width: 450px;
    min-height: 100vh;

    background-color: #eeeee6;
    border-radius: 25px;

    padding: 1rem 2rem 1rem;

    text-align: center;

    margin-left: auto;
    margin-right: auto;
}
.listProduct .item7 > img{

    width: 300px;
    height: auto;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;

    margin-top: 5%;

}
.listProduct .item7 > h2{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    margin-top: 2%;
}
.listProduct .item7 > p{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    letter-spacing: 7px;

    margin-top: 2%;
}
.listProduct .item7 label > input{

    width: 150px;

    margin-top: 2%;
    
    border-radius: 20px;
    outline: none;

    border: 1px solid lightgrey;

    padding: 1rem 2rem 1rem;
}
.listProduct .item7 > button{

    background-color: #353432;
    color: #eee;

    margin-top: 2%;
    width: 150px;
    padding: 1rem 2rem 1rem;

    border-radius: 25px;
    border: #353432;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
}
.listProduct .item8 > #addCart:hover{
    transform: scale(1.1);
}

/*-------item 8---------*/

.listProduct > .item8{

    width: 450px;
    min-height: 100vh;

    background-color: #eeeee6;
    border-radius: 25px;

    padding: 1rem 2rem 1rem;

    text-align: center;

    margin-left: auto;
    margin-right: auto;
}
.listProduct .item8 > img{

    width: 300px;
    height: auto;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;

    margin-top: 5%;

}
.listProduct .item8 > h2{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    margin-top: 2%;
}
.listProduct .item8 > p{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    letter-spacing: 7px;

    margin-top: 2%;
}
.listProduct .item8 label > input{

    width: 150px;

    margin-top: 2%;
    
    border-radius: 20px;
    outline: none;

    border: 1px solid lightgrey;

    padding: 1rem 2rem 1rem;
}
.listProduct .item8 > button{

    background-color: #353432;
    color: #eee;

    margin-top: 2%;
    width: 150px;
    padding: 1rem 2rem 1rem;

    border-radius: 25px;
    border: #353432;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
}
.listProduct .item8 > #addCart:hover{
    transform: scale(1.1);
}

/*-------item 9---------*/

.listProduct > .item9{

    width: 450px;
    min-height: 100vh;

    background-color: #eeeee6;
    border-radius: 25px;

    padding: 1rem 2rem 1rem;

    text-align: center;

    margin-left: auto;
    margin-right: auto;
}
.listProduct .item9 > img{

    width: 300px;
    height: auto;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;

    margin-top: 5%;

}
.listProduct .item9 > h2{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    margin-top: 2%;
}
.listProduct .item9 > p{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    letter-spacing: 7px;

    margin-top: 2%;
}
.listProduct .item9 label > input{

    width: 150px;

    margin-top: 2%;
    
    border-radius: 20px;
    outline: none;

    border: 1px solid lightgrey;

    padding: 1rem 2rem 1rem;
}
.listProduct .item9 > button{

    background-color: #353432;
    color: #eee;

    margin-top: 2%;
    width: 150px;
    padding: 1rem 2rem 1rem;

    border-radius: 25px;
    border: #353432;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
}
.listProduct .item9 > #addCart:hover{
    transform: scale(1.1);
}

/*-------item 10---------*/

.listProduct > .item10{

    width: 450px;
    min-height: 100vh;

    background-color: #eeeee6;
    border-radius: 25px;

    padding: 1rem 2rem 1rem;

    text-align: center;

    margin-left: auto;
    margin-right: auto;
}
.listProduct .item10 > img{

    width: 300px;
    height: auto;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;

    margin-top: 5%;

}
.listProduct .item10 > h2{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    margin-top: 2%;
}
.listProduct .item10 > p{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    letter-spacing: 7px;

    margin-top: 2%;
}
.listProduct .item10 label > input{

    width: 150px;

    margin-top: 2%;
    
    border-radius: 20px;
    outline: none;

    border: 1px solid lightgrey;

    padding: 1rem 2rem 1rem;
}
.listProduct .item10 > button{

    background-color: #353432;
    color: #eee;

    margin-top: 2%;
    width: 150px;
    padding: 1rem 2rem 1rem;

    border-radius: 25px;
    border: #353432;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
}
.listProduct .item10 > #addCart:hover{
    transform: scale(1.1);
}

/*-------item 11---------*/

.listProduct > .item11{

    width: 450px;
    min-height: 100vh;

    background-color: #eeeee6;
    border-radius: 25px;

    padding: 1rem 2rem 1rem;

    text-align: center;

    margin-left: auto;
    margin-right: auto;
}
.listProduct .item11 > img{

    width: 300px;
    height: auto;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;

    margin-top: 5%;

}
.listProduct .item11 > h2{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    margin-top: 2%;
}
.listProduct .item11 > p{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    letter-spacing: 7px;

    margin-top: 2%;
}
.listProduct .item11 label > input{

    width: 150px;

    margin-top: 2%;
    
    border-radius: 20px;
    outline: none;

    border: 1px solid lightgrey;

    padding: 1rem 2rem 1rem;
}
.listProduct .item11 > button{

    background-color: #353432;
    color: #eee;

    margin-top: 2%;
    width: 150px;
    padding: 1rem 2rem 1rem;

    border-radius: 25px;
    border: #353432;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
}
.listProduct .item11 > #addCart:hover{
    transform: scale(1.1);
}

/*-------item 12---------*/

.listProduct > .item12{

    width: 450px;
    min-height: 100vh;

    background-color: #eeeee6;
    border-radius: 25px;

    padding: 1rem 2rem 1rem;

    text-align: center;

    margin-left: auto;
    margin-right: auto;
}
.listProduct .item12 > img{

    width: 300px;
    height: auto;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;

    margin-top: 5%;

}
.listProduct .item12 > h2{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    margin-top: 2%;
}
.listProduct .item12 > p{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    letter-spacing: 7px;

    margin-top: 2%;
}
.listProduct .item12 label > input{

    width: 150px;

    margin-top: 2%;
    
    border-radius: 20px;
    outline: none;

    border: 1px solid lightgrey;

    padding: 1rem 2rem 1rem;
}
.listProduct .item12 > button{

    background-color: #353432;
    color: #eee;

    margin-top: 2%;
    width: 150px;
    padding: 1rem 2rem 1rem;

    border-radius: 25px;
    border: #353432;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
}
.listProduct .item12 > #addCart:hover{
    transform: scale(1.1);
}

/*-------item 13---------*/

.listProduct > .item13{

    width: 450px;
    min-height: 100vh;

    background-color: #eeeee6;
    border-radius: 25px;

    padding: 1rem 2rem 1rem;

    text-align: center;

    margin-left: auto;
    margin-right: auto;
}
.listProduct .item13 > img{

    width: 300px;
    height: auto;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;

    margin-top: 5%;

}
.listProduct .item13 > h2{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    margin-top: 2%;
}
.listProduct .item13 > p{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    letter-spacing: 7px;

    margin-top: 2%;
}
.listProduct .item13 label > input{

    width: 150px;

    margin-top: 2%;
    
    border-radius: 20px;
    outline: none;

    border: 1px solid lightgrey;

    padding: 1rem 2rem 1rem;
}
.listProduct .item13 > button{

    background-color: #353432;
    color: #eee;

    margin-top: 2%;
    width: 150px;
    padding: 1rem 2rem 1rem;

    border-radius: 25px;
    border: #353432;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
}
.listProduct .item13 > #addCart:hover{
    transform: scale(1.1);
}

/*-------item 14---------*/

.listProduct > .item14{

    width: 450px;
    min-height: 100vh;

    background-color: #eeeee6;
    border-radius: 25px;

    padding: 1rem 2rem 1rem;

    text-align: center;

    margin-left: auto;
    margin-right: auto;
}
.listProduct .item14 > img{

    width: 300px;
    height: auto;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;

    margin-top: 5%;

}
.listProduct .item14 > h2{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    margin-top: 2%;
}
.listProduct .item14 > p{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    letter-spacing: 7px;

    margin-top: 2%;
}
.listProduct .item14 label > input{

    width: 150px;

    margin-top: 2%;
    
    border-radius: 20px;
    outline: none;

    border: 1px solid lightgrey;

    padding: 1rem 2rem 1rem;
}
.listProduct .item14 > button{

    background-color: #353432;
    color: #eee;

    margin-top: 2%;
    width: 150px;
    padding: 1rem 2rem 1rem;

    border-radius: 25px;
    border: #353432;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
}
.listProduct .item14 > #addCart:hover{
    transform: scale(1.1);
}

/*-------item 15---------*/

.listProduct > .item15{

    width: 450px;
    min-height: 100vh;

    background-color: #eeeee6;
    border-radius: 25px;

    padding: 1rem 2rem 1rem;

    text-align: center;

    margin-left: auto;
    margin-right: auto;
}
.listProduct .item15 > img{

    width: 300px;
    height: auto;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;

    margin-top: 5%;

}
.listProduct .item15 > h2{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    margin-top: 2%;
}
.listProduct .item15 > p{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    letter-spacing: 7px;

    margin-top: 2%;
}
.listProduct .item15 label > input{

    width: 150px;

    margin-top: 2%;
    
    border-radius: 20px;
    outline: none;

    border: 1px solid lightgrey;

    padding: 1rem 2rem 1rem;
}
.listProduct .item15 > button{

    background-color: #353432;
    color: #eee;

    margin-top: 2%;
    width: 150px;
    padding: 1rem 2rem 1rem;

    border-radius: 25px;
    border: #353432;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
}
.listProduct .item15 > #addCart:hover{
    transform: scale(1.1);
}

/*-------item 16---------*/

.listProduct > .item16{

    width: 450px;
    min-height: 100vh;

    background-color: #eeeee6;
    border-radius: 25px;

    padding: 1rem 2rem 1rem;

    text-align: center;

    margin-left: auto;
    margin-right: auto;
}
.listProduct .item16 > img{

    width: 300px;
    height: auto;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;

    margin-top: 5%;

}
.listProduct .item16 > h2{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    margin-top: 2%;
}
.listProduct .item16 > p{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    letter-spacing: 7px;

    margin-top: 2%;
}
.listProduct .item16 label > input{

    width: 150px;

    margin-top: 2%;
    
    border-radius: 20px;
    outline: none;

    border: 1px solid lightgrey;

    padding: 1rem 2rem 1rem;
}
.listProduct .item16 > button{

    background-color: #353432;
    color: #eee;

    margin-top: 2%;
    width: 150px;
    padding: 1rem 2rem 1rem;

    border-radius: 25px;
    border: #353432;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
}
.listProduct .item16 > #addCart:hover{
    transform: scale(1.1);
}

/*-------item 17---------*/

.listProduct > .item17{

    width: 450px;
    min-height: 100vh;

    background-color: #eeeee6;
    border-radius: 25px;

    padding: 1rem 2rem 1rem;

    text-align: center;

    margin-left: auto;
    margin-right: auto;
}
.listProduct .item17 > img{

    width: 300px;
    height: auto;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;

    margin-top: 5%;

}
.listProduct .item17 > h2{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    margin-top: 2%;
}
.listProduct .item17 > p{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    letter-spacing: 7px;

    margin-top: 2%;
}
.listProduct .item17 label > input{

    width: 150px;

    margin-top: 2%;
    
    border-radius: 20px;
    outline: none;

    border: 1px solid lightgrey;

    padding: 1rem 2rem 1rem;
}
.listProduct .item17 > button{

    background-color: #353432;
    color: #eee;

    margin-top: 2%;
    width: 150px;
    padding: 1rem 2rem 1rem;

    border-radius: 25px;
    border: #353432;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
}
.listProduct .item17 > #addCart:hover{
    transform: scale(1.1);
}

/*-------item 18---------*/


.listProduct > .item18{

    width: 450px;
    min-height: 100vh;

    background-color: #eeeee6;
    border-radius: 25px;

    padding: 1rem 2rem 1rem;

    text-align: center;

    margin-left: auto;
    margin-right: auto;
}
.listProduct .item18 > img{

    width: 300px;
    height: auto;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;

    margin-top: 5%;

}
.listProduct .item18 > h2{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    margin-top: 2%;
}
.listProduct .item18 > p{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    letter-spacing: 7px;

    margin-top: 2%;
}
.listProduct .item18 label > input{

    width: 150px;

    margin-top: 2%;
    
    border-radius: 20px;
    outline: none;

    border: 1px solid lightgrey;

    padding: 1rem 2rem 1rem;
}
.listProduct .item18 > button{

    background-color: #353432;
    color: #eee;

    margin-top: 2%;
    width: 150px;
    padding: 1rem 2rem 1rem;

    border-radius: 25px;
    border: #353432;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
}
.listProduct .item18 > #addCart:hover{
    transform: scale(1.1);
}

/*-------item 19---------*/

.listProduct > .item19{

    width: 450px;
    min-height: 100vh;

    background-color: #eeeee6;
    border-radius: 25px;

    padding: 1rem 2rem 1rem;

    text-align: center;

    margin-left: auto;
    margin-right: auto;
}
.listProduct .item19 > img{

    width: 300px;
    height: auto;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;

    margin-top: 5%;

}
.listProduct .item19 > h2{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    margin-top: 2%;
}
.listProduct .item19 > p{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    letter-spacing: 7px;

    margin-top: 2%;
}
.listProduct .item19 label > input{

    width: 150px;

    margin-top: 2%;
    
    border-radius: 20px;
    outline: none;

    border: 1px solid lightgrey;

    padding: 1rem 2rem 1rem;
}
.listProduct .item19 > button{

    background-color: #353432;
    color: #eee;

    margin-top: 2%;
    width: 150px;
    padding: 1rem 2rem 1rem;

    border-radius: 25px;
    border: #353432;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
}
.listProduct .item19 > #addCart:hover{
    transform: scale(1.1);
}

/*-------item 20---------*/

.listProduct > .item20{

    width: 450px;
    min-height: 100vh;

    background-color: #eeeee6;
    border-radius: 25px;

    padding: 1rem 2rem 1rem;

    text-align: center;

    margin-left: auto;
    margin-right: auto;
}
.listProduct .item20 > img{

    width: 300px;
    height: auto;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;

    margin-top: 5%;

}
.listProduct .item20 > h2{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    margin-top: 2%;
}
.listProduct .item20 > p{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    letter-spacing: 7px;

    margin-top: 2%;
}
.listProduct .item20 label > input{

    width: 150px;

    margin-top: 2%;
    
    border-radius: 20px;
    outline: none;

    border: 1px solid lightgrey;

    padding: 1rem 2rem 1rem;
}
.listProduct .item20 > button{

    background-color: #353432;
    color: #eee;

    margin-top: 2%;
    width: 150px;
    padding: 1rem 2rem 1rem;

    border-radius: 25px;
    border: #353432;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
}
.listProduct .item20 > #addCart:hover{
    transform: scale(1.1);
}


/*----------------footer section -----------------*/
.footer-container{

    width: 100%;
    min-height: 17vh;

    background-color: #586e6e;
    color: white;

}
.footer-container > footer{

    width: 100%;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;

    grid-template-areas: "box1 box2 box3 box4";

    padding: 2rem 4rem 2rem;

    column-gap: 50px;
}
.footer-container footer > .address-section{

    grid-area: box1;
}
.footer-container footer .address-section > h3{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.footer-container footer .address-section > p{
    
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 1.5rem;
}

.footer-container footer > .email-section{
    
    grid-area: box2;
}

.footer-container footer .email-section > h3{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.footer-container footer .email-section > p{
    
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 1.5rem;
}

.footer-container footer > .telephone-section{
    
    grid-area: box3;
}
.footer-container footer .telephone-section > h3{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.footer-container footer .telephone-section > p{
    
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 1.5rem;
}

.footer-container footer > .socmed-container{
    
    grid-area: box4;

    display: flex;

    padding: 2rem 4rem 2rem;

    align-items: center;
    justify-content: space-between;
}
.footer-container  > .copyright-container{

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

    text-align: center;
}